:root {
  --color-primary: #2e2f42;
  --color-secondary: #434455;
  --color-white: #fff;
  --color-brand: #404bbf;
  --color-min: #4d5ae5;
  --background-clr: #e5e5e5;
  --border-color: #e7e9fc;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--color-secondary);
  background-color: var(--background-clr);
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-secondary);
}

/* Countainer */
.countainer {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
.page-countainer {
  background: #e7e9fc;
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  display: flex;
  align-items: center;
}
.contact-countainer {
  display: flex;
}
.hero-countainer-button {
}
.countainer-button {
}

.hero-countainer-list {
}

.image-countainer {
  width: 1160px;
}
.our-team-countainer {
}
.footer-countainer {
  background-color: var(--color-primary);
}
/* /Countainer */
/* Section */

.team {
  padding: 120px 0 120px 0;
}
.text {
  padding: 120px 0 120px 0;
}
.footer {
  padding: 100px 0px;
  background-color: #2e2f42;
}
.button-portfolio {
  padding-bottom: 120px;
}

/* Section */

/*  Logo */

.logotype-dark {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-min);
  padding: 24px 0;
}
.studio-dark {
  color: var(--color-primary);
}
.studio-white {
  color: var(--color-white);
}
/* /Logo */

/* menu */
.page-nav {
  display: flex;
  flex-grow: 1;
  gap: 76px;
}
.page-nav-list {
  display: flex;
  flex-grow: 1;
  gap: 40px;
}
.menu-item {
}
.menu-list {
}
.menu-link {
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-primary);
  gap: 40px;
  display: block;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--color-brand);
}
/* /menu */

/* Components */

.list {
  list-style: none;
  padding: 0;
}
.button-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin: 98px 0 70px 0;
}
/* Market */

.caption-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-primary);
  margin: 0 0 8px 0;
}
.about-team {
  padding-top: 32px;
  padding-bottom: 32px;
}
F4F4FD .text-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-secondary);
}
.our-team-list {
  flex-basis: calc((100% 72px) / 4);
}
.market-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  box-sizing: border-box;
}
.market {
  border: 1px solid var(--accent-clr);
  flex-basis: calc((100% - 48px) / 3);
}
.text-market {
  padding: 32px 0px 32px 16px;
  border: 1px solid var(--accent-clr);
  border-top: 1px solid transparent;
}
/* Button */
.modal-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.71;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background: var(--color-brand);
  cursor: pointer;
  background: var(--color-min);
  border: 2px solid var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 48px auto;
  padding: 16px 32px;
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--color-brand);
  color: var(--color-white);
}

.label-menu {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-min);
  padding: 12px 24px;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  justify-content: center;
}
.label-menu:hover,
.label-menu:focus {
  background-color: var(--color-brand);
  color: var(--color-white);
}

/* Button */

/* <!-- Address --> */
.contact-phone-number {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.02em;
}

.contact-phone-number:hover,
.contact-phone-number:focus {
  color: var(--color-brand);
}
/* <!-- Address --> */

/* /Components */

/* Hero */
.hero {
  width: 1440px;
  padding: 188px 0;
  margin: 0 auto;
  background-color: var(--color-primary);
}
.hero-title {
  width: 494px;
  font-size: 56px;
  line-height: 1.07;
  color: var(--color-white);
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto;
}

.title-work {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-primary);
  margin: 0 0 72px 0;
}
.list-work {
  display: flex;
  gap: 24px;
}
.works {
  display: flex;
  gap: 24px;
}

.title-team {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-primary);
  padding-bottom: 72px;
  background-color: #f4f4fd;
}
.our-team {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  padding: 0;
  justify-content: center;
}
.our-team-box {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
/*  */
/* Hero */

/* Footer */
.logotype-light {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-min);
  display: block;
  margin-bottom: 16px;
}

.footter-list {
  width: 287px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
}
/* /Footer */
